{% extends "base.html" %}

{% block extra_js %}
<link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    function parseQueryFromUrl () {
        var queryParamName = "q";
        var search = window.location.search.substr(1);
        var parts = search.split('&');
        for (var i = 0; i < parts.length; i++) {
              var keyvaluepair = parts[i].split('=');
              if (decodeURIComponent(keyvaluepair[0]) == queryParamName) {
                return decodeURIComponent(keyvaluepair[1].replace(/\+/g, ' '));
            }
        }
        return '';
    }
    (function() {
        var cx = '{{CX_CODE}}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
</script>
{% endblock %}

{% block content %}
<div class="buquedago pb-70">
    <div class="container-box">
        <div class="row">
            <div class="col-xl-9 col-lg-9 mb-30">
                <div class="qnotice">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Resultados de búsqueda para: <strong>{{q}}</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                  
                        <div id="cse"><gcse:searchresults-only></div>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 mb-30">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
</div>
{% block extra_css %}
<!--Mi css-->
<style type="text/css">

    /*Titulos*/
    .gs-result .gs-title, .gs-result .gs-title *{
        color: #002171 !important;
        font-family: 'Andika New Basic', serif;
    }
    .gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *{
        font-size: 18px;
    }
    .gs-webResult .gs-snippet, .gsc-result-info{
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
    }
    /*Separador*/
    .gsc-webResult .gsc-result{
        border-bottom: 1px solid #fbf2f4 !important;
        padding: 20px 0px !important;
    }
    /*Resaltado de buqueda*/
    .gs-bidi-start-align.gs-snippet b{
        color: #002171 !important;
    }
    /*Imagen*/
    .gs-web-image-box, .gs-promotion-image-box{
        margin-right: 10px;
        width: 150px;
    }

    .gs-web-image-box .gs-image, .gs-promotion-image-box .gs-promotion-image{
        max-width: 150px;
    }
    /*Tabs*/
    .gsc-tabHeader.gsc-tabhActive, .gsc-refinementHeader.gsc-refinementhActive{
        color: #002171 ;
        border-color: #002171;
    }
</style>
{% endblock %}

{% endblock %}
