{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load el_pagination_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="producciones-list pb-70">
    <div class="container-box">
        <div class="row">
            <div class="col-xl-9 col-lg-9 mb-30">
                <div class="locales-list">
                    <div class="row mb-40">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Producciones</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% paginate 10 object_list %}
                        {% for produccion in object_list %}
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                            <div class="postbox">
                                <div class="postbox-thumb">
                                    {% if produccion.imagen_portada %}
                                    {% thumbnail produccion.imagen_portada "670x490" crop="center" as img %}
                                    <a href="{% url 'produccion-detalle' produccion.subcategoria.slug produccion.slug %}"><img src="/media/{{img}}" alt="{{produccion.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% elif produccion.url %}
                                    {% video produccion.url as video %}
                                    {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                    <a href="{% url 'produccion-detalle' produccion.subcategoria.slug produccion.slug %}"><img src="/media/{{img}}" alt="{{produccion.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% endvideo %}
                                    {% elif produccion.imagen_alterna %}
                                    {% thumbnail produccion.imagen_alterna "670x490" crop="center" as img %}
                                    <a href="{% url 'produccion-detalle' produccion.subcategoria.slug produccion.slug %}"><img src="/media/{{img}}" alt="{{produccion.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% else %}
                                    <a href="{% url 'produccion-detalle' produccion.subcategoria.slug produccion.slug %}"><img src="https://via.placeholder.com/670x490" alt="{{produccion.titulo}}" width="100%"></a>
                                    {% endif %}
                                </div>
                                <div class="post-fea-cat">
                                    <a href="#">{{produccion.categoria}} </a>
                                </div>
                                <div class="postbox-text post-text-last">
                                    <div class="post-wr-cat">
                                        <a href="#">{{produccion.subcategoria}}</a>
                                    </div>
                                    <div class="post-wr-meta mt-15"><span class="base_color"><a href="#">{{produccion.fecha|date:"l d F Y"}}</a></span></div>
                                    <h5 class="f-18 m-0"><a class="text-limit-3" href="{% url 'produccion-detalle' produccion.subcategoria.slug produccion.slug%}">{{produccion.titulo}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 mb-30">
                {% include "sidebar.html" %}
            </div>
        </div>
        <!-- Paginado -->
        <div class="row">
            <div class="col-xl-12">
                <div class="pagination-box">
                    <ul class="pagination-list">
                      {% show_pages %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}