{% extends "base.html" %}
{% block extra_css %}
{% endblock %}

{% block content %}
<div class="producciones pb-70">
    <div class="container-box">
        <div class="row mb-40">
            <div class="col-xl-12">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Parrilla de programación</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <!-- Nav tabs -->
                <ul class="nav nav-pills mb-3 nav-justified" id="myTab" role="tablist">
                    {% for obj in object_list %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if day|date:"l" == obj.get_dia_display %}active{% endif %}
                        " id="{{obj}}-tab" data-bs-toggle="tab" href="#{{obj}}" role="tab" aria-controls="{{obj}}" aria-selected="true">{{obj}}</a>
                    </li>
                    {% endfor %}

                </ul>

                <!-- Tab panes -->
                <div class="tab-content list-programacion">
                  {% for obj in object_list  %}
                  <div class="tab-pane {% if day|date:"l" == obj.get_dia_display %}active{% endif %}" id="{{obj}}" role="tabpanel" aria-labelledby="{{obj}}-tab">
                      <ul class="list-group lis">
                      {% for item in obj.programaciondia_set.all|dictsort:"hora_inicio" %}
                      <li class="list-group-item {% if now >= item.hora_inicio and now <= item.hora_fin and day|date:"l" == obj.get_dia_display %}active{% endif %}">
                          <div class="p-encabezado">
                              <div class="p-hora">
                                  {{item.hora_inicio|time:"h:i a"}}{% if item.hora_fin %} - {{item.hora_fin|time:"h:i a"}}{% endif %}
                              </div>
                              <div class="p-titulo">
                                  {{item.titulo}}
                              </div>
                          </div>
                          <div class="p-descripcion">
                              {{item.descripcion}}
                          </div>
                      </li>
                      {% endfor %}
                      </ul>
                  </div>

                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>
    $('.nav-pills a').click(function(){
        $(this).tab('show');
        $('html, body').animate({
            scrollTop: $('.producciones .nav-justified').offset().top-20
        }, 800);
      });

</script>

{% endblock extra_js %}
