/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    Mixin                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    Menu                                    */
/* -------------------------------------------------------------------------- */
.main-menu nav > ul > li > a {
  padding: 19px 0;
}
/* -------------------------------------------------------------------------- */
/*                                   Titulos                                  */
/* -------------------------------------------------------------------------- */
.title-web h3 {
  font-weight: 900;
}
.title-web h4 {
  font-weight: 600;
}
.title-web .logo img {
  height: 135px;
}
.text-limit-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.hero-text {
  padding: 12px 12px 0 12px;
}
.hero-text h2 {
  font-size: 28px;
}
.base_color {
  color: #002171;
}
.f-14 {
  font-size: 14px;
}
/* -------------------------------------------------------------------------- */
/*                                   Social                                   */
/* -------------------------------------------------------------------------- */
.top-social a {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  border: 1px solid transparent;
}
.top-social a:hover.icon-facebook {
  background-color: #3b5998;
  border-color: transparent;
}
.top-social a:hover.icon-twitter {
  background-color: #1da1f2;
  border-color: transparent;
}
.top-social a:hover.icon-youtube {
  background-color: #f00;
  border-color: transparent;
}
.top-social a:hover.icon-instagram {
  background-color: #833ab4;
  border-color: transparent;
}
.top-social a:hover.icon-whatsapp {
  background-color: #075e54;
  border-color: transparent;
}
.top-social a:hover.icon-rss {
  background-color: #ee802f;
  border-color: transparent;
}
.top-social a {
  background: transparent;
  border: 1px solid #002171;
  color: #002171;
}
/* -------------------------------------------------------------------------- */
/*                                Programacion                                */
/* -------------------------------------------------------------------------- */
.sonando .live {
  padding: 10px 0 0 0;
}
.sonando .live span {
  font-weight: bold;
  color: #002171;
}
.sonando .live span:first-child {
  color: #f00;
}
.sonando hr::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  z-index: 3;
  background: transparent url("../img/section-border.svg") repeat-x 0 50%;
  background-size: 5px 5px;
  opacity: 0.7;
}
.sonando hr {
  border: 0;
  margin: 10px 0;
}
.most-readable-bg .section-title {
  padding-bottom: 10px;
}
.most-readable-bg .section-title h4 {
  color: #fff;
  font-size: 20px;
}
.most-readable-bg {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/fondo/fondo.jpg") no-repeat;
}
/* -------------------------------------------------------------------------- */
/*                                  Noticias                                  */
/* -------------------------------------------------------------------------- */
p {
  font-size: 16px;
  line-height: 25px;
}
.postbox-text {
  padding-left: 10px;
  padding-right: 10px;
}
.label-nota a {
  font-size: 14px;
  color: #0d47a1;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.post-wr-cat {
  position: relative;
  top: 0;
  left: 0;
}
.postbox-text .post-wr-cat {
  padding-top: 10px;
}
.article-list .post-wr-meta,
.list-nota .post-wr-meta,
.tready-news-area .post-wr-meta,
.hero-postbox .post-wr-meta,
.producciones-list .post-wr-meta {
  margin-top: 10px;
}
.article-list .post-wr-meta span a,
.list-nota .post-wr-meta span a,
.tready-news-area .post-wr-meta span a,
.hero-postbox .post-wr-meta span a,
.producciones-list .post-wr-meta span a {
  color: #002171;
}
.list-nota .post-wr-meta .fa-circle {
  font-size: 5px;
  position: relative;
  padding: 0 4px;
  top: -2px;
  color: #002171;
}
.post-wr-cat a {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 2px;
  background: #349042;
  font-family: 'Roboto', serif;
  padding: 5px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-weight: bold;
}
.post-fea-cat a {
  text-transform: capitalize;
}
.postbox-text p,
.hero-text p {
  text-align: justify;
}
.post-sm-img > a img {
  width: 120px;
  height: auto;
}
.video-news-area .post-content h4 {
  margin-top: 0;
}
.font-11 {
  font-size: 11px;
}
.color-theme {
  color: #002171;
}
.container-radio {
  --plyr-color-main: #002171;
  --plyr-control-icon-size: 16px;
  --plyr-audio-controls-background: transparent;
  --plyr-audio-control-color: #002171;
  --plyr-font-size-time: small;
}
.most-readable-area .section-title.no-border {
  border: 0;
}
.readable-active .owl-nav {
  top: 50px;
}
.foto-detalle {
  background-color: #eaeaff;
  color: #252525;
}
.post-content figure img {
  width: 100%;
}
.post-content figure figcaption {
  padding: 10px;
  background-color: #eaeaff;
  font-size: 14px;
}
/* .post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{
    color: #002171;
    font-size: 18px;
    margin-bottom: 20px;
} */
.enterteinment-sm-img img {
  width: 100px;
  height: auto;
}
.owl-importante .owl-nav div {
  color: #f44336;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: -70px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.owl-importante .owl-nav div.owl-prev::before {
  background: #f44336;
  height: 20px;
  width: 2px;
  right: -10px;
  position: absolute;
  content: "";
}
.owl-importante .owl-nav div.owl-prev {
  right: 32px;
}
.owl-importante .owl-nav {
  margin-right: 17px;
  position: absolute;
  top: 0;
  right: 0;
}
.seccion-importante .section-title h2 {
  color: #f44336;
}
.seccion-importante .section-title::before {
  background: #f44336;
}
.seccion-importante .post-content h5 a {
  color: #f44336;
}
.seccion-importante .post-content h4 a:hover {
  color: #f44336;
}
.owl-importante .post-content h4 {
  margin-bottom: 0;
  color: #252525;
}
.newsletter-2-form button {
  padding: 20px 53px;
}
.news-relacionada .owl-nav div {
  color: #002171;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: -80px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.news-relacionada .owl-nav div.owl-prev::before {
  background: #002171;
  height: 20px;
  width: 2px;
  right: -10px;
  position: absolute;
  content: "";
}
.news-relacionada .owl-nav div.owl-prev {
  right: 32px;
}
.news-relacionada .owl-nav {
  margin-right: 17px;
  position: absolute;
  top: 0;
  right: 0;
}
.user-text a {
  margin-bottom: 20px;
  text-transform: initial;
}
.most-readable-bg .fondo {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/fondo/fondo.jpg") no-repeat;
}
/* -------------------------------------------------------------------------- */
/*                             Lista de articulos                             */
/* -------------------------------------------------------------------------- */
.noticias-list .post-wr-meta span > a {
  color: #002171;
}
.noticias-list .postbox h3 {
  font-size: 30px;
}
/* -------------------------------------------------------------------------- */
/*                                   Buqueda                                  */
/* -------------------------------------------------------------------------- */
.header-search i {
  height: 40px;
  width: 40px;
  background: #f0f0f0;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #252525;
}
/* -------------------------------------------------------------------------- */
/*                                 Paginacion                                 */
/* -------------------------------------------------------------------------- */
.pagination-list a,
.pagination-list .endless_page_current {
  height: 40px;
  width: 40px;
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  background: #f5f5ff;
}
.pagination-list .endless_page_current {
  background: #0d47a1;
  color: #fff;
}
/* -------------------------------------------------------------------------- */
/*                                  Scrollup                                  */
/* -------------------------------------------------------------------------- */
#scrollUp {
  bottom: 50px;
}
/* -------------------------------------------------------------------------- */
/*                                Programacion                                */
/* -------------------------------------------------------------------------- */
.producciones .nav-pills {
  font-size: 1.05em;
  font-weight: 700;
  letter-spacing: 2px;
}
.producciones .nav-pills .nav-link.active,
.producciones .nav-pills .show>.nav-link {
  background: #002171;
  border-color: #002171;
}
.producciones .nav-pills,
.producciones .nav-link {
  -webkit-border-radius: 0rem !important;
  -moz-border-radius: 0rem !important;
  -o-border-radius: 0rem !important;
  border-radius: 0rem !important;
  border: 1px solid #eee;
}
.producciones .nav-pills a,
.producciones .nav-link a {
  color: #6a6a6a;
}
.producciones .list-group-item.active {
  border: 2px dashed #002171;
  background: #fff;
  color: #212529;
}
.producciones .list-programacion .p-encabezado {
  font-weight: 700;
  color: #002171;
}
.producciones .list-programacion .p-encabezado .p-hora {
  display: inline-block;
  width: 200px;
}
.producciones .list-programacion .p-encabezado .p-titulo {
  display: inline-block;
}
.producciones .list-programacion .p-descripcion {
  padding-left: 203px;
}
/* -------------------------------------------------------------------------- */
/*                                  Contactos                                 */
/* -------------------------------------------------------------------------- */
.contact-area #contact-form input.btn {
  width: auto;
}
.contact-area .portfolio-caption {
  padding: 30px;
}
/* -------------------------------------------------------------------------- */
/*                                   Galeria                                  */
/* -------------------------------------------------------------------------- */
.galeria-detalle .portfolio-caption {
  padding: 20px;
}
.galeria-detalle .portfolio-caption h5 {
  color: #002171;
}
.galeria-detalle .portfolio-caption:hover h5 {
  color: #fff;
}
/* -------------------------------------------------------------------------- */
/*                                   En Vivo                                  */
/* -------------------------------------------------------------------------- */
.live_stream {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 100;
  width: 300px;
}
.live_stream .live_titulo {
  background: #efefef;
  padding: 5px 0px;
}
.live_stream iframe {
  width: 100%;
  height: 170px;
}
.live_stream .live_menu li {
  display: inline-block;
}
.live_stream .xbutton {
  padding: 10px;
}
.live_stream .xbutton:hover {
  cursor: pointer;
}
/* -------------------------------------------------------------------------- */
/*                              Noticias Detalle                              */
/* -------------------------------------------------------------------------- */
.post-content {
  padding: 15px;
}
.post-content ul {
  margin-bottom: 20px;
}
.post-content ul li {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em;
}
.post-content .blockquote {
  margin: 30px 0 30px 0;
  padding: 30px 80px 35px 100px;
  font-size: 1.15rem;
}
.post-content .blockquote:before {
  left: 35px;
}
.post-content img {
  height: auto !important;
  max-width: 100%;
}
.post-content p {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em !important;
  margin-bottom: 20px;
}
.post-content p span {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em !important;
}
/* -------------------------------------------------------------------------- */
/*                                Share Social                                */
/* -------------------------------------------------------------------------- */
.social-share {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 #e9e9e9 inset;
  -webkit-box-shadow: 0 1px 0 #e9e9e9 inset;
  box-shadow: 0 1px 0 #e9e9e9 inset;
  background: #f5f5ff;
  border-color: #002171 #e7e7e7 #e4e4e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  -moz-box-shadow: 0 1px 0 #e9e9e9 inset;
  -webkit-box-shadow: 0 1px 0 #e9e9e9 inset;
  box-shadow: 0 1px 0 #e9e9e9 inset;
  float: left;
  list-style: none;
  position: relative;
  text-align: center;
  margin: 10px;
}
.social-share .main_icon {
  background: #002171;
  padding: 5px;
  color: #fff;
  font-size: 15px;
}
.social-share li:last-child {
  margin-bottom: 10px;
}
.si-sticky {
  position: fixed;
  top: 35%;
  left: 0px;
  z-index: 100;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.slideleft {
  left: -1000px;
  -webkit-animation: slide 0.5s forwards;
  -moz-animation: slide 0.5s forwards;
  -o-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
.social-share li:first-child {
  margin-top: 0;
}
.social-share li {
  margin-top: 10px;
  padding: 0px 5px;
}
.social-share li a {
  display: block;
  background: #252525;
  color: #efefef;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
  line-height: 30px;
  width: 30px;
  font-size: 15px;
}
.social-share a.tw:hover {
  background: #1da1f2;
}
.social-share a.fb:hover {
  background: #3b5998;
}
.social-share a.wt:hover {
  background: #075e54;
}
.social-share a.gp:hover {
  background: #dd4b39;
}
/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .si-sticky {
    width: 100%;
    bottom: 0 !important;
    top: auto;
  }
  .si-sticky .social-share {
    margin: 0;
    width: 100%;
    padding: 0px;
  }
  .si-sticky .social-share li {
    display: inline-block !important;
    padding: 0px 10px;
  }
  .si-sticky .social-share .main_icon {
    display: none !important;
  }
  .blockquote {
    padding: 30px 30px 35px 30px !important;
  }
  .title-web {
    margin-top: 10px;
  }
  .title-web .logo img {
    height: 100px;
  }
  .title-web h3 {
    font-size: 20px;
  }
  .title-web h4 {
    font-size: 16px;
  }
  .mean-container a.meanmenu-reveal {
    margin-top: -41px;
  }
}
