/*
  Theme Name: Potrika - Blog, News & Magazine HTML5 Template.
  Description: Blog, News & Magazine HTML5 Template.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. news-area
4. most-readable-area
5. video-news-area
6. gallery-area
7. newsletters-area
8. footer
9. breaking-news-area
10. slider
11. add-area
12. ns-area
13. ns-video-area
14. featured-post
15. Portfolio
16. page-title-area
17. brand-area
18. about-area
19. feature-area
20. Team
21. testimonial-area
22. map
23. contact-area
24. blog-details
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.body-box {
	max-width: 1430px;
	margin: 0 auto;
	background: #fff;
}
.container-box{
	max-width:1430px;
	margin: 0 auto;
	padding: 0 15px;
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
button{
	cursor: pointer;
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a,
button {
	color: #1696e7;
	outline: medium none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Andika New Basic', serif;
	color: #252525;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 700;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 14px;
	font-weight: normal;
	line-height: 32px;
	color: #6e6e6e;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */

.btn {
	-moz-user-select: none;
	background: #252525;
	border: medium none;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 0;
	padding: 20px 50px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Andika New Basic', serif;
	letter-spacing: 2px;
	border-radius: 0;
}
.btn:hover{background:#0d47a1;color:#fff;}
.breadcrumb > .active {
	color: #888;
}

/* scrollUp */
#scrollUp {
	background: #0d47a1;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #000;
}
/* 2 header */
.body-bg {
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.header-transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	transition: .4s;
}
 .sticky {
	left: 0;
	margin: auto;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, .07);
	z-index: 9999;
	-webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	background: #fff;
}
.header-area {
	padding: 30px 0;
	border-bottom: 1px solid #e9e9e9;
}
.header2 {
	padding: 30px 0;
	border-bottom: 0;
}
.box-inner {
	padding: 40px 40px 45px 40px;
}
.menu-bar {
	width: 30px;
	cursor: pointer;
	position: relative;
}
.menu-bar span {
	display: block;
	margin: 5px 0;
	transition: .3s;
	margin-left: auto;
	width: 100%;
	background: #252525;
	height: 2px;
}

/* header-3 */
.header-11 {
	padding-top: 15px;
	margin-top: 15px;
}
.header-top-area {
	background: #0d47a1;
	padding: 8px 38px;
}
.header__top-menu ul li {
	margin-right: 11px;
	display: inline-block;
}
.header__top-menu ul li:last-child{margin-right:0;}
.header__top-menu ul li a {
	color: #ffffff;
	font-size: 13px;
	display: block;
	font-weight: 400;
	text-transform: capitalize;
}
.header-dater {
	float: left;
	margin-right: 48px;
}
.header-dater span {
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	margin-right: 10px;
}
.header-social-icon{}
.header-social-icon a {
	font-size: 13px;
	color: #fff;
	margin-right: 12px;
	transition: .3s;
}
.header-social-icon a:last-child{margin-right:0;}
.header-middle {
	padding: 20px 38px;
}
.header-right {
	padding-top: 20px;
}
.header-search {
	margin-right: 40px;
}
.header-search li {
	display: inline-block;
	position: relative;
}
.header-search li a {
	height: 40px;
	width: 40px;
	background: #f0f0f0;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	line-height: 40px;
	font-size: 13px;
	color: #565656;
}
.header-search li a:hover{background:#0d47a1;color:#fff;}
.header-right{}
.header-right .menu-bar span {
	background: #0d47a1;
}
.header-right .menu-bar {
	padding-top: 7px;
}

/* extra info */
.extra-info {
	background: #152136;
	height: 100%;
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.7s ease 0s;
	width: 340px;
	z-index: 9999;
	transform: translateX(100%);
	padding-bottom: 40px;
}
.extra-info.info-open {
  transform: translateX(0);
}
.extra-info-left{right:inherit;left: 0;transform: translateX(-100%);}
.extra-info.extra-info-left.info-open{transform: translateX(0);}
.close-icon {
  margin-top: -16px;
  text-align: right;
}
.close-icon > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #0d47a1;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}
.extra-info > p {
  color: #ddd;
  font-size: 15px;
  line-height: 28px;
}
.extra-info.extra-info-left.info-open {
	transform: translateX(0);
}
.instagram img {
  width: 100%;
}
.social-icon-right > a {
	color: #fff;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}
.social-icon-right > a:hover {
	color: #0d47a1;
}
.instagram {
  overflow: hidden;
  margin: 0 -4px;
}
.instagram > a {
	float: left;
	width: 33.33%;
	padding: 0 4px;
	margin-bottom: 7px;
}
.side-info {
	border-top: 1px solid #344159;
	padding-top: 25px;
}
.contact-list h4 {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}
.contact-list p {
	color: #fff;
	opacity: .5;
	margin: 0;
	margin-bottom: 5px;
	line-height: 28px;
}

.side-menu ul li:hover a {
  color: #0d47a1; }


.lang1-icon {
	padding-top: 20px;
	margin-left: 30px;
}
.lang1-icon a {
	font-size: 14px;
	color: #6a6a6a;
	font-weight: 400;
}
.lang1-icon i {
	font-size: 14px;
	color: #0d47a1;
	margin-right: 7px;
}
.lang-icon {
	position: relative;
	padding: 20px 0;
}
.lang-icon > a {
	font-size: 14px;
	color: #6a6a6a;
	font-weight: 400;
}
.lang-icon i {
	font-size: 14px;
	color: #0d47a1;
	margin-right: 7px;
}
.lang-icon a i {
	font-size: 14px;
	color: #6a6a6a;
	margin-right: 7px;
}
.header-lang-list {
	position: absolute;
	width: 120px;
	opacity: 0;
	visibility: hidden;
	padding: 20px 15px;
	border-top: 3px solid #0d47a1;
	transition: .4s;
	z-index: 999;
	background: #fff;
	padding-bottom: 5px;
	padding-top: 4px;
	top: 100%;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}
.lang-icon:hover .header-lang-list {
	opacity: 1;
	visibility: visible;
}
.header-lang-list > li {
	display: block;
	margin-bottom: 0;
	padding: 5px 0;
}
.header-lang-list > li > a {
	display: block;
	color: #647589;
	font-size: 13px;
}
.header-lang-list > li:hover > a{
	display: block;
	color: #0d47a1;
}

/* heder-long-2 */
.header-lang-white .lang-icon a {
	color: #fff;
}
.header-lang-white .lang-icon {
	padding: 0;
}
.header-lang-white .header-lang-list > li > a{color: #647589;}
.header-lang-white .header-lang-list{border-top: 3px solid #b620b4;}
.header-lang-white .header-lang-list > li:hover a{color: #b620b4;}
.header-lang-white .lang-icon i {
	color: #fff;
}
.header-lang-white .lang1-icon {
	padding-top: 0;
	margin-left: 30px;
}
.header-lang-white .lang1-icon i {
	color: #fff;
}
.header-lang-white .lang1-icon a {
	color: #fff;
}

.header-social {
	margin-top: 20px;
}
.header-social a {
	background: #f0f0f0;
	height: 40px;
	width: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 7px;
	transition: .3s;
	font-size: 13px;
	color: #565656;
}
.header-social a:hover{background: #b620b4;color: #fff;}
.header-social a:last-child{margin-right: 0;}
/* header-2 */
.header2 .menu-bar {
	margin-right: 65px;
}
.header2 .menu-bar span {
	background: #b620b4;
}

.main-menu-area {}
.menu-border {
	border-bottom: 1px solid #e9e9e9;
}
.menu-2-border {
	border-bottom:0;
}
.main-menu  ul {}
.main-menu nav > ul > li {
	display: inline-block;
	position: relative;
	margin-left: 33px;
}
.main-menu nav > ul > li:first-child{margin-left:0;}
.main-menu nav > ul > li > a {
	color: #252525;
	display: block;
	font-size: 15px;
	font-weight: 700;
	padding: 32px 0;
	transition: all 0.3s ease 0s;
	background: transparent;
	line-height: 1;
	position: relative;
	text-transform: capitalize;
	font-family: 'Andika New Basic', serif;
}
.main-menu nav > ul  > li:hover > a,.main-menu nav > ul  > li.active > a{color:#0d47a1;}

/* menu-2 */
.header2 .main-menu nav > ul  > li:hover > a{color:#b620b4;}
.header2 .main-menu nav > ul  > li.active > a{color:#b620b4;}
.black-menu {
	background: #252525;
	padding: 0 38px;
}
.black-menu {
	background: #252525;
}
.black-menu .main-menu nav > ul > li > a {
	color: #fff;
	padding: 23px 0;
}
.black-menu .header-lang {
	padding-top: 18px;
}
.black-menu .header-lang-white .lang-icon {
	padding-bottom: 5px;
}
.black-menu .header-lang-white .header-lang-list {
	border-top: 3px solid #0d47a1;
}
.black-menu .header-lang-white .header-lang-list > li > a:hover {
	color: #0d47a1;
}
/* sub-menu */
.main-menu nav > ul  > li .sub-menu {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 120%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 220px;
  z-index: 9;
  border-bottom:3px solid #0d47a1;
}
.main-menu nav > ul  > li:hover .sub-menu{opacity:1;top:100%;visibility:visible}
.main-menu nav > ul  > li .sub-menu li{display:block}
.main-menu nav > ul > li .sub-menu li a {
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 13px 20px;
	text-transform: capitalize;
	display: block;
}
.main-menu nav > ul  > li:hover > .sub-menu li > a:hover{color:#fff;background:#0d47a1;}
.header2 .main-menu nav > ul  > li:hover > .sub-menu li > a:hover{color:#fff;background:#b620b4;}
.header2 .main-menu nav > ul  > li .sub-menu {
  border-bottom:3px solid #b620b4;
}

/* 3. news-area */
.news-area{}
.news-border {
	border-bottom: 1px solid #e9e9e9;
	border-top:1px solid #e9e9e9;
}
.postbox{}
.postbox-border {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 18px;
}
.postbox-thumb{}
.post-cat {
	margin-top: -17px;
}
.post-cat > a {
	font-size: 14px;
	color: #0d47a1;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Andika New Basic', serif;
	letter-spacing: 2px;
	display: inline-block;
	box-shadow: 0px 16px 32px 0px rgba(36,71, 161, 0.15);
	padding: 10px 19px;
	line-height: 1;
	background: #fff;
}
.postbox-thumb > a img{width:100%;}
.postbox-text {
	padding-left: 22px;
	padding-right: 22px;
}
.postbox-text >a{}
.postbox-text h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 0;
	margin-top: 18px;
}
.postbox-text h5 > a {
	color: #252525;
	transition: .3s;
}
.postbox-text h5 > a:hover{color:#0d47a1;}
.postbox-text span {
	font-family: 'Andika New Basic', serif;
	font-size: 14px;
	color: #6a6a6a;
	margin-top: 8px;
	display: inline-block;
}
.post-text-last {
	padding-left: 30px;
	padding-right: 35px;
}
.postbox-text h5.f-18{
	font-size: 18px;
}
.postbox-text p {
	margin-bottom: 0;
	margin-top: 11px;
}
.hero-postbox{}
.hero-thumb{}
.hero-thumb >a{}
.hero-thumb >a img{max-width: 100%;}
.hero-text {
	background: #fff;
	margin-top: -26px;
	position: relative;
	margin-left: 35px;
	margin-right: 35px;
	padding: 29px 12px 0 12px;
}
.hero-text > h2 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 6px;
}
.hero-text >h2 a{color:#0d47a1;}
.hero-text p {
	margin-bottom: 0;
}
.section-title{
	position: relative;
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 22px;
}
.section-title h2 {
	font-size: 30px;
	color: #0d47a1;
	font-weight: 700;
	margin-bottom: 0;
}
.section-title::before {
	background: #0d47a1;
	bottom: -1px;
	content: "";
	height: 2px;
	position: absolute;
	width: 60px;
}
.white-title{border-bottom: 2px solid #002171;}
.white-title h2 {
	color: #fff;
}
.white-title h2::before {
	background: #fff;
	bottom: -1px;
	content: "";
	height: 2px;
	position: absolute;
	width: 60px;
}
.post-border {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 28px;
	margin-bottom: 26px;
}
.post-border:last-child{margin-bottom:0;}
.post-content h5 {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.post-content h5 a{color: #0d47a1;}
.post-content h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.7;
	margin-bottom: 0;
	margin-top: 9px;
}
.post-content h4 a:hover{color:#0d47a1;}
.post-sm-list{}
.post-sm-img {
	position: relative;
	margin-right: 20px;
}
.post-sm-img > a{}
.post-sm-img > a img {
	width: 120px;
	height: 120px;
}
.what-news-bg {
	background: #fff;
	padding: 40px 30px 10px 30px;
}
.post-sm-list-2 .post-sm-img {
	position: relative;
	margin-right: 30px;
}
.post-sm-list-2 .post-content h5 a {
	color: #b620b4;
}
.post-sm-list-2 .post-content h4 a:hover {
	color: #b620b4;
}
.post-wr-content p {
	margin-bottom: 0;
}
.banner-img img {
	width: 100%;
}
.more-link {
	margin-top: 25px;
}
.more2-link {
	margin-top: 12px;
}
.more-link a {
	font-family: 'Andika New Basic', serif;
	color: #252525;
	font-weight: 700;
	font-size: 16px;
	transition: .3s;
}
.more-link a:hover{color:#0d47a1;}

.more-1-link a {
	color: #b620b4;
}
.more-1-link a:hover{color:#252525;}
.more-link a i {
	font-size: 15px;
	padding-left: 7px;
}
.entertainment-active .owl-nav div {
	background: #fff;
	font-size: 12px;
	left: 30px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 32%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	color: #0d47a1;
	font-weight: 400;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
}
.entertainment-active .owl-nav div.owl-next {
	left: auto;
	right:30px;
}
.entertainment-active:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.entertainment-active .owl-nav div:hover {
	background:#0d47a1;
	color:#fff;
}

/* 4. most-readable-area */
.most-readable-bg {
	padding-left: 50px;
	padding-right: 50px;
}
.most-readable-wrapper{}
.most-readable-text {
	border-bottom: 2px solid #002171;
	padding-bottom: 24px;
	margin-bottom: 21px;
	transition: .3s;
}
.most-readable-text:last-child{margin-bottom: 0;}
.most-readable-text:hover{border-color:#fff;}
.most-readable-text span {
	color: #fff;
	font-size: 14px;
	font-family: 'Andika New Basic', serif;
	font-weight: 400;
}
.most-readable-text h4 {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0;
	margin-top: 10px;
}
.most-readable-text h4 a{color:#fff;}
.readable-active .owl-nav div {
	color: #fff;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: -98px;
	transition: all 0.3s ease 0s;
}
.readable-active .owl-nav div.owl-prev::before {
	background: #fff;
	height: 20px;
	width: 2px;
	right: -10px;
	position: absolute;
	content: "";
}
.readable-active .owl-nav div.owl-prev {
	right: 32px;
}
.readable-active .owl-nav {
	margin-right: 17px;
	position: absolute;
	top: 0;
	right: 0;
}
/* 5. video-news-area */
.video-news-area{}
.video-border {
	border-bottom: 1px solid #e9e9e9;
}
.video-news-wrapper{}
.video-news-img{position: relative;}
.video-news-img > a{}
.video-news-img > a img{width:100%;}
.video-play{}
.video-play {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.video-play a {
	height: 100px;
	width: 100px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	line-height: 100px;
	font-size: 18px;
	color: #0d47a1;
	transition: .3s;
}
.video-play a:hover{background: #0d47a1;color:#fff;}
.post-sm-video{
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.post-sm-video > a{
	height: 50px;
	width: 50px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	line-height: 50px;
	font-size: 12px;
	color: #0d47a1;
	transition: .3s;
}
.post-sm-video > a:hover{background: #0d47a1;color:#fff;}

/* 6. gallery-area */
.gallery-active .owl-nav div {
	color: #6a6a6a;
	font-size: 14px;
	position: absolute;
	right: 13px;
	top: -95px;
	transition: all 0.3s ease 0s;
	font-weight: 400;
}
.gallery-active .owl-nav div.owl-prev {
	right: 42px;
}
.gallery-active .owl-nav div.owl-prev::before {
	background: #0d47a1;
	height: 20px;
	width: 2px;
	right: -10px;
	position: absolute;
	content: "";
	top:2px;
}
.gallery-active .owl-nav div:hover{color:#0d47a1;}
.gallery-wrapper{}
.gallery-img{position: relative;}
.gallery-img::before{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #b620b4;
	content: "";
	top: 0;
	left: 0;
	opacity: .0;
	transition: .3s;
	transform: scale(.9);
}
.gallery-wrapper:hover .gallery-img::before{opacity: .7;transform: scale(1);}
.gallery-icon {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	transition: .3s;
	opacity: 0;
}
.gallery-wrapper:hover .gallery-icon{opacity: 1;}
.gallery-icon > a {
	font-size: 36px;
	color: #fff;

	transition: .3s;
}
.gallery-wrapper:hover .gallery-icon a{	}

/* 7. newsletters-area */
.newsletters-area{}
.newsletters-bg {
	background-size: cover;
	background-position: center center;
}
.newsletters-wrapper {
	padding: 0 51px;
}
.newsletters-text {
	margin-bottom: 33px;
}
.newsletters-text h1 {
	font-size: 36px;
	color: #fff;
	margin-bottom: 16px;
	font-weight: 700;
}
.newsletters-text p {
	color: #fff;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 26px;
	padding: 0 67px;
}
.newsletter-form {
	padding: 0 100px;
}
.newsletter-form  form {
  position: relative;
}
.newsletter-form form input {
	border: 0;
	border-radius: 0;
	height: 58px;
	padding: 0 30px;
	width: 100%;
	background: #ca000c;
	color: #ffbdc1;
	font-size: 14px;
}
.newsletter-form form input::placeholder {
  color: #ffbdc1;
  font-size:14px;
}
.newsletter-form form button {
	position: absolute;
	right: 0;
	background: none;
	top: 18px;
	right: 30px;
	border: none;
	color: #ffffff;
	font-size: 14px;
}

/* 8. footer */
.footer-area {
	background-size: cover;
	background-position: center center;
}
.footer-border{border-top:1px solid #e9e9e9;}
.footer-logo {
	margin-bottom: 32px;
}
.footer-title {
	font-size: 20px;
	color: #0d47a1;
	font-weight: 700;
	margin-bottom: 0;
	border-bottom: 2px solid #e9e9e9;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: 31px;
}
.footer-title::before {
	background: #0d47a1;
	bottom: -1px;
	content: "";
	height: 2px;
	position: absolute;
	width: 60px;
}
.footer-text{}
.footer-text p {
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 0;
}
.footer-icon {
	margin-top: 20px;
}
.footer-icon a {
	color: #565656;
	font-size: 13px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: inline-block;
	background: #f0f0f0;
	text-align: center;
	border-radius: 50%;
	margin-right: 7px;
	transition: .3s;
}
.footer-icon a:hover{background:#0d47a1;color:#fff;}
.footer-menu {
  overflow: hidden;
}
.footer-menu li {
	padding-bottom: 8px;
	position: relative;
	width: 50%;
	float: left;
}
.footer-menu li:last-child{padding-bottom:0;}
.footer-menu li a {
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 400;
	transition: .3s;
}
.footer-menu li a:hover{color:#0d47a1}
.footer-link li {
	padding-bottom: 8px;
}
.footer-link li:last-child{padding-bottom:0;}
.footer-link li a {
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 400;
	transition: .3s;
}
.footer-bottom-area{border-top:1px solid #e9e9e9;}
.copyright p {
	margin-bottom: 0;
}
.copyright p a{color:#0d47a1;}

/* footer-2 */
.footer-title-2 {
	font-size: 22px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 33px;
}
.footer-text-1{}
.footer-text-1 p {
	line-height: 30px;
	color: #fff;
	margin-bottom: 28px;
}
.footer-text-1 p:last-child{margin-bottom: 0;}

.footer-2-icon{margin-top:29px;}
.footer-2-icon a {
	background: #8a4ad6;
	color: #fff;
	transition: .3s;
}
.footer-2-icon a:hover{color:#7437bc;background: #fff;}
.f-post-thumb {
	float: left;
	display: block;
	margin-right: 30px;
}
.f-post-content {
	overflow: hidden;
}
.f-post-content h4 {
	font-size: 16px;
	margin-bottom: 6px;
	color: #fff;
	line-height: 1.8;
}
.f-post-content h4 a{color:#fff;}
.f-post-content .f-post-date {
	font-size: 13px;
	color: #fff;
	letter-spacing: 2px;
	text-transform: capitalize;
	font-weight: 400;
}
.footer-post ul li {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}
.footer-post ul li:last-child {margin-bottom: 0;}
.f-post-content h4:hover a{color: #fff;}
.footer-list{}
.footer-list li {
	margin-bottom: 25px;
}
.footer-list li:last-child{;margin-bottom:0;}
.footer-info p {
	line-height: 30px;
	margin-bottom: 0;
	color: #fff;
}
.footer-meta {
	margin-bottom: 10px;
}
.footer-meta > span {
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	margin-right: 18px;
	text-transform: capitalize;
	font-family: 'Andika New Basic', serif;
}
.footer-meta > span:last-child{margin-right:0;}
.footer-meta > span i {
	color: #fff;
	margin-right: 9px;
	position: relative;
}
.footer-link-2.footer-link li a {
	color: #fff;
}
.footer-2-border{border-top:1px solid #8a4cd3;}
.copyright-2 p{
	margin-bottom: 0;
	color: #fff;
}
.copyright-2 p a {
	color: #fff;
}
/* footer-3 */
.footer-2-logo {
	margin-bottom: 20px;
}
.footer-2-text{}
.footer-2-text p {
	color: #fff;
	line-height: 30px;
	margin-bottom: 0;
	padding: 0 62px;
}
.footer-3-icon{}
.footer-3-icon a {
	background: #ff414c;
	color: #fff;
	margin-right: 0;
	margin: 0 4px;
}
.footer-3-icon a:hover{color:#0d47a1;background:#fff;}
.copyright-3 {
	border-top: 1px solid #f4313c;
	padding-top: 32px;
	margin: 0 123px;
}
.copyright-3 p{color:#fff;margin-bottom: 0;}
.footer-2 .footer-title-2 {
	color: #0d47a1;
}
.footer-2 .footer-text-1 p {
	color: #6a6a6a;
}
.footer-2 .footer-icon a {
	color: #0d47a1;
	background: #fff;
}
.footer-2 .footer-icon a:hover{
	color: #fff;
	background: #0d47a1;
}
.footer-2 .f-post-content h4 a {
	color: #6a6a6a;
}
.footer-2 .f-post-content .f-post-date {
	color: #6a6a6a;
}
.footer-2 .footer-meta > span {
	color: #0d47a1;
}
.footer-2 .footer-meta > span i {
	color: #0d47a1;
}
.footer-2 .footer-info p {
	color: #6a6a6a;
}
.footer-2 .footer-2-border {
	border-top: 1px solid #e0e0ff;
}

/* 9. breaking-news-area */
.breaking-bg {
	background: #912f8b;
	padding: 28px 40px;
	margin-bottom: -81px;
	z-index: 1;
	position: relative;
}
.inner-breaking {
	position: relative;
}
.breaking-title {
	position: absolute;
	left: 0;
	top: 0;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
}
.breaking {
	padding-left: 189px;
}
.breaking li{}
.breaking li a {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}
.breaking-active .owl-nav div {
	color: #fff;
	font-size: 14px;
	position: absolute;
	right: -56px;
	top: 4px;
	transition: all 0.3s ease 0s;
	font-weight: 400;
}
.breaking-active .owl-nav div.owl-prev {
	right: -26px;
}

/* 10. slider */
.slider-height {
	min-height: 812px;
}
.slider-1-height {
	min-height: 640px;
}
.slider-1-img{	margin-bottom: 12px;}
.slider-1-img img {
	display: inline-block;
}
.single-slider {
	background-size: cover;
	background-position: center center;
}
.slider-content{}
.slider-content h1 {
	font-size: 60px;
	color: #fff;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 1.3;
}
.slider-meta {
	margin-top: 20px;
}
.slider-meta span {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	margin-right: 26px;
}
.slider-meta span:last-child{margin-right: 0;}
.slider-meta span i {
	margin-right: 5px;
}
.slider-active button.slick-arrow {
	position: absolute;
	top: 50%;
	left: 70px;
	transform: translateY(-50%);
	border: 0;
	font-size: 12px;
	padding: 0;
	color: #b620b4;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
	line-height: 40px;
	transition: .3s;
}
.slider-active:hover button {
	opacity: 1;
	visibility: visible;
}
.slider-active button.slick-next {
	left: auto;
	right: 70px;
}
.slider-active:hover button.slick-next {
	right: 70px;
}
.slider-active:hover button.slick-prev {
	left: 70px;
}
.slider-active button:hover {
	background: #b620b4;
	color: #fff;
}

/* 11. add-area */
.add-1-area {
	margin-top: -100px;
	margin-bottom: -100px;
}
.add-img a img {
	width: 100%;
}

/* 12. ns-area */
.ns-area{}
.post-padding {
	padding: 40px 30px 30px 30px;
}
.post-1-padding {
	padding: 40px 30px 40px 30px;
}
.post2-padding {
	padding: 40px 20px 30px 20px;
}
.post-3-padding {
	padding: 30px 0 0 0;
}
.post-wrapper {
	overflow: hidden;
}
.post-wr-img{position: relative;}
.post-wr-img img {
	width: 100%;
}
.post-wr-cat {
	position: absolute;
	top: 20px;
	right: 20px;
}
.post-wr-cat a {
	font-size: 13px;
	color: #b620b4;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #fff;
	font-family: 'Andika New Basic', serif;
	padding: 11px 22px;
	border-radius: 30px;
	display: inline-block;
}
.post-wr-content{}
.post-wr-meta {
	margin-top: 23px;
	margin-bottom: 9px;
}
.post-wr-meta span{}
.post-wr-meta span > a {
	color: #b620b4;
	font-family: 'Andika New Basic', serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}
.pos-wr-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.8;
	transition: .3s;
	margin-bottom: 0;
}
.pos-wr-title a:hover{color: #b620b4;}
.pos-wr-title.f-18 {
	font-size: 18px;
	line-height: 1.7;
}
.post-b-meta {
	margin-top: 25px;
}
.post-author img {
	float: left;
}
.post-author{}
.share-this {
	margin-top: 7px;
}
.share-this a {
	font-size: 14px;
	color: #6a6a6a;
	font-weight: 400;
}
.share-this a i {
	color: #b620b4;
	font-size: 14px;
	margin-right: 6px;
}
.post-author{}
.post-author p {
	float: right;
	font-size: 16px;
	font-weight: 700;
	color: #6a6a6a;
	margin-bottom: 0;
	font-family: 'Andika New Basic', serif;
	padding-left: 20px;
}
.post-ns-border {
	border-bottom: 1px solid #eaeaff;
	margin-bottom: 40px;
	padding-bottom: 40px;
}
.post-ns-border:last-child{margin-bottom: 0;}
.area-title {
	overflow: hidden;
	background-image: -moz-linear-gradient( 0deg, rgb(182,32,180) 0%, rgb(149,44,184) 55%, rgb(116,55,188) 99%);
	background-image: -webkit-linear-gradient( 0deg, rgb(182,32,180) 0%, rgb(149,44,184) 55%, rgb(116,55,188) 99%);
	background-image: -ms-linear-gradient( 0deg, rgb(182,32,180) 0%, rgb(149,44,184) 55%, rgb(116,55,188) 99%);
	padding: 22px 30px;
}
.area-title h4 {
	margin-bottom: 0;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.area-2-title {
	background: #0d47a1;
}
.area-3-title {
	background: #0d47a1;
	padding: 16px 30px;
}
.area-3-title h4 {
	font-size: 16px;
}
.social-wrapper {
	background: #fff;
	padding: 30px;
}
.social2-wrapper {
	background:none;
	padding: 0;
}
.social-box {
  display: inline-block;
}
.social-box a {
	height: 55px;
	width: 55px;
	background: #5454ff;
	color: #fff;
	text-align: center;
	line-height: 55px;
	float: left;
}
.social-box a.twitter {
	background: #1da1f2;
}
.social-box a.google-plus {
	background: #eb5e4c;
}
.social-box a.dribbble {
	background: #df3e7b;
}
.social-box a.instagram-i {
	background: #3897f0;
}
.social-box a.vimeo {
	background: #0d94cd;
}
.social-number {
	float: left;
	padding: 10px 44px;
	line-height: 1;
	border: 1px solid #eaeaff;
}
.social-number span {
	font-size: 14px;
	color: #b620b4;
	font-family: 'Andika New Basic', serif;
	font-weight: 400;
}
.social-number p {
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	margin-top: 6px;
}
.follow-us {
	float: right;
}
.follow-us a {
	font-size: 14px;
	font-weight: 700;
	color: #6a6a6a;
	background: #eaeaff;
	font-family: 'Andika New Basic', serif;
	text-transform: uppercase;
	display: inline-block;
	padding: 17px 24px;
	transition: .3s;
	position: relative;
	z-index: 99;
}
.follow-us a::before {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	content: "";
	background-image: -moz-linear-gradient( 0deg, rgb(182,32,180) 0%, rgb(149,44,184) 55%, rgb(116,55,188) 99%);
	background-image: -webkit-linear-gradient( 0deg, rgb(182,32,180) 0%, rgb(149,44,184) 55%, rgb(116,55,188) 99%);
	background-image: -ms-linear-gradient( 0deg, rgb(182,32,180) 0%, rgb(149,44,184) 55%, rgb(116,55,188) 99%);
	z-index: -1;
	transition: .3s;
	opacity: 0;
}
.follow-us a:hover::before{opacity: 1;}
.follow-us a:hover{
	color:#fff;
}
.social2-wrapper .follow-us a::before{display: none;}
.social2-wrapper .follow-us a:hover{
	color:#fff;
	background: #0d47a1;
}
.follow-us a i {
	padding-right: 7px;
}
.social2-wrapper .follow-us a i {
	padding-right: 0;
}
.newsletters-2-wrapper {
	background: #fff;
	padding: 32px 50px 40px 40px;
}
.newsletters-2-text h4 {
	font-size: 20px;
	line-height: 1.8;
	padding-right: 30px;
	margin-bottom: 25px;
}
.newsletter-2-form form input {
	border: 1px solid #e9e9e9;
	border-radius: 0;
	height: 55px;
	padding: 0 15px;
	width: 100%;
	background: #fff;
	color: #6a6a6a;
	font-size: 14px;
}
.newsletter-2-form form input::placeholder {
  color: #6a6a6a;
  font-size:14px;
}
.newsletter-2-form form input::-moz-placeholder  {
  color: #6a6a6a;
  font-size:14px;
}
.newsletter-2-form button {
	margin-top: 20px;
	position: relative;
	transition: .3s;
	padding: 20px 82px;
	color: #252525;
	font-size: 13px;
	background: #eaeaff;
	border: none;
	font-family: 'Andika New Basic', serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1;
	cursor: pointer;
}
.newsletter-2-form button:hover{background: #b620b4;color:#fff;}
.post-3-padding .post-wr-cat a {
	color: #0d47a1;
	padding: 5px 16px;
	border-radius: 0;
}
.post-3-padding .post-wr-meta span > a {
	color: #0d47a1;
}
.post-3-padding .pos-wr-title a:hover {
	color: #0d47a1;
}
.post-3-padding .share-this a i {
	color: #0d47a1;
}
.post-2-author p{padding-left:0;}
.hero-2-sidebar .post-sm-img {
	margin-right: 30px;
}
.entertainment-wrapper .post-wr-cat {
	position: inherit;
	top: 0;
	right: 0;
}
.entertainment-wrapper .post-wr-cat a {
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #0d47a1;
	font-family: 'Andika New Basic', serif;
	padding: 9px 23px;
	border-radius: 30px;
	display: inline-block;
}
.entertainment-wrapper .post-wr-meta span > a {
	color: #6a6a6a;
}
.entertainment-wrapper .pos-wr-title {
	font-size: 18px;
	line-height: 1.7;
}
.entertainment-wrapper .pos-wr-title a:hover {
	color: #0d47a1;
}
.entertainment-wrapper .share-this a i {
	color: #0d47a1;
}
.newsletters-3 .newsletters-2-wrapper {
	padding: 28px 22px 35px 30px;
	border: 1px solid #eaeaff;
}
.newsletters-3 .newsletter-2-form button:hover {
	background: #0d47a1;
	color: #fff;
}
.newsletters-4 .newsletters-2-wrapper{background: #eaeaff;}
.newsletters-4 .newsletter-2-form button {
	background: #0d47a1;
	color: #fff;
	padding: 20px 58px;
}
.newsletters-4 .newsletter-2-form button:hover{background: #252525;}
.ns-2-video-play {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.ns-2-video-play a {
	height: 50px;
	width: 50px;
	display: inline-block;
	border-radius: 50%;
	line-height: 50px;
	font-size: 13px;
	color: #fff;
	transition: .3s;
	background: #0d47a1;
}
.ns-2-video-play a:hover{background: #fff;color:#b620b4;border-color:#fff;}
.post-4-padding {
	padding: 0;
}
.post-news-meta span > a {
	color: #b620b4;
	font-family: 'Andika New Basic', serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.enterteinment-padding {
	padding-top: 0;
}
.enterteinment-padding .post-cat {
	margin-left: 25px;
}
.enterteinment-padding .post-wr-content {
	overflow: hidden;
	padding-left: 25px;
	padding-right: 16px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eaeaff;
}
.entertainment a.btn {
	background: #0d47a1;
	padding: 20px 56px;
	transition: .3s;
}
.entertainment a.btn:hover{background: #252525;}
.enterteinment-sm-list{}
.enterteinment-sm-img{
	margin-right: 20px;
}
.enterteinment-sm-img img{
	width: 100px;
	height: 100px;
}
.enterteinment-sm-content{}
.enterteinment-sm-content h5{}
.enterteinment-sm-content h5 > a {
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 6px 8px;
	line-height: 1;
	background: #0d47a1;
}
.enterteinment-sm-content h4 {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 0;
	margin-top: 9px;
}
.enterteinment-sm-content h4 > a{color:#252525}
.enterteinment-sm-content h4 > a:hover{color:#0d47a1}
.enterteinment-meta{}
.enterteinment-meta span {
	color: #6a6a6a;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Andika New Basic', serif;
	font-weight: 400;
	margin-right: 12px;
}
.enterteinment-meta span:last-child{margin-right:0;}
.enterteinment-meta span i {
	color: #0d47a1;
	font-size: 11px;
	margin-right: 5px;
}
.blog-post-padding.enterteinment-padding .post-wr-content {
	overflow: hidden;
	margin-left: 0;
	margin-right: 16px;
	padding-bottom: 0;
	border-bottom: none;
}
.blog-post-padding .pos-wr-title {
	font-size: 18px;
}
.blog-post-padding.post-3-padding .post-wr-cat a {
	border-radius: 30px;
}
.blog-list-padding.blog-post-padding.enterteinment-padding .post-wr-content {
	margin-right: 0;
}
.blog-list-padding.blog-post-padding.post-3-padding .post-wr-cat a {
	border-radius: 30px;
	padding: 9px 25px;
}
.blog-list-padding.blog-post-padding .pos-wr-title {
	font-size: 30px;
	line-height: 1.4;
}
.blog-list-padding .post-b-meta {
	margin-top: 20px;
}
.blog-list-padding .post-wr-meta {
	margin-bottom: 7px;
}
.blog-details-paddiing .pos-wr-title {
	font-size: 36px;
	line-height: 1.4;
	margin-bottom: 20px;
}
.blog-list-paddin .post-wr-meta {
	margin-top: 23px;
	margin-bottom: 7px;
}
.blog-details-paddiing {
	padding-top: 0;
}
.basic-pagination ul {
  display: block;
}

.basic-pagination ul li {
  display: inline-block;
}
.basic-pagination ul li a {
	height: 40px;
	width: 40px;
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 500;
	border-radius: 50%;
	line-height: 40px;
	margin: 0 5px;
	display: inline-block;
	text-align: center;
	background: #f5f5ff;
}
.basic-pagination ul li a:hover {
  background: #0d47a1;
	color: #ffffff;
}

/* 13. ns-video-area */
.ns-video-area{}
.ns-video-bg {
	padding: 40px 30px 10px 30px;
}
.ns-video-wrapper{}
.ns-video-img{position: relative;}
.ns-video-img img{width:100%;}
.ns-video-play{
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.ns-video-play a {
	height: 50px;
	width: 50px;
	display: inline-block;
	border-radius: 50%;
	line-height: 46px;
	font-size: 14px;
	color: #fff;
	transition: .3s;
	border: 3px solid #fff;
}
.ns-video-play a:hover{background: #fff;color:#b620b4;border-color:#fff;}

/* 14. featured-post */
.featured-post{}
.featured-img{position: relative;}
.featured-img img{width:100%;}
.featured-post-content {
	position: absolute;
	bottom: 0;
	padding: 50px 82px 50px 50px;
	left: 0;
	right: 0;
}
.featured-2-post-content {
	padding: 50px 30px 30px 40px;
}
.featured-wr-meta {
	margin-bottom: 11px;
}
.featured-wr-meta span{}
.featured-wr-meta span > a {
	color: #fff;
	font-family: 'Andika New Basic', serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}
.featured-post-content h3 {
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0;
	line-height: 1.5;
}
.featured-post-content h3 a{color:#fff;}
.post-fea-cat {
	position: absolute;
	top: 20px;
	right: 20px;
}
.post-fea-cat a {
	font-size: 13px;
	color: #0d47a1;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: #fff;
	font-family: 'Andika New Basic', serif;
	padding:5px 16px;
	display: inline-block;
}
.featured-post-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
}
.featured-cat {
	margin-bottom: 4px;
}
.featured-cat > a {
	font-family: 'Andika New Basic', serif;
	color: #ffffff;
	font-size: 14px;
	font-weight:700 ;
	text-transform: uppercase;
}
.featured-post-text h4 {
	font-size: 14px;
	line-height: 1.8;
	margin-bottom: 0;
}
.featured-post-text h4 > a{color:#fff;}

/* 15. Portfolio */
.portfolio-menu > button {
	background: #f5f5ff;
	border: medium none;
	color: #6a6a6a;
	cursor: pointer;
	font-weight: 700;
	margin: 0 3px;
	padding: 14px 32px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	font-size: 13px;
	font-family: 'Andika New Basic', serif;
}
.portfolio-menu > button:focus {
  outline: 0 none;
}
.portfolio-menu > button:hover,.portfolio-menu > button.active{background: #0d47a1;color:#fff;}
.portfolio-wrapperr{}
.portfolio-image{}
.portfolio-image > a{}
.portfolio-image a > img {
	width: 100%;
}
.portfolio-caption {
	box-shadow: 0px 16px 32px 0px rgba(236, 236, 236, 0.56);
	padding: 37px 45px 35px 45px;
	background: #fff;
	transition: .3s;
}
.portfolio-wrapper:hover .portfolio-caption{background: #0d47a1;}
.portfolio-caption h3 {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 8px;
	line-height: 1.1;
}
.portfolio-caption h3 > a {
	color: #252525;
	transition: .3s;
}
.portfolio-wrapper:hover .portfolio-caption h3 > a{color:#fff;}
.portfolio-caption span {
	font-size: 16px;
	color: #0d47a1;
	font-weight: 400;
	letter-spacing: 2px;
	transition: .3s;
}
.portfolio-wrapper:hover .portfolio-caption span{color:#fff;}
.portfolio-2-caption {
	text-align: center;
	background: none;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.portfolio-wrapper:hover .portfolio-2-caption{background:none;}
.portfolio-wrapper:hover .portfolio-2-caption h3 > a{color:#0d47a1;}
.portfolio-wrapper:hover .portfolio-2-caption span{color:#0d47a1;}

/* 16. page-title-area */
.page-title-area{}
.page-bg{}
.page-title{}
.page-title h1 {
	font-size: 40px;
	font-weight: 700;
	color: #0d47a1;
	margin-bottom: 0;
	text-transform: capitalize;
}

/* 17. brand-area */
.brand-active.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}

/* 18. about-area */
.about-wrapper {
	margin-top: 80px;
	margin-right: 65px;
}
.about-text h2 {
	color: #333333;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.3;
	margin-bottom: 30px;
}
.about-text p {
	margin-bottom: 0;
}
.about-text a.btn {
	padding: 20px 55px;
	background: #0d47a1;
	margin-top: 41px;
}
.about-text a.btn:hover{
	background: #252525;
}
.about-img img{width:100%;}

/* 19. feature-area */
.feature-area{
	background-size: cover;
	background-position: center center;
}
.feature-wrapper {
	background: #fff;
	padding: 59px 60px 56px 60px;
	margin-right: 120px;
}
.feature-text h1 {
	font-size: 55px;
	color: #0d47a1;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 22px;
}
.feature-text p {
	line-height: 30px;
	margin-bottom: 0;
}
.feature-list {
	margin-top: 20px;
}
.feature-list li {
	font-size: 14px;
	color: #6a6a6a;
	font-weight: 400;
	position: relative;
	padding-bottom: 12px;
	padding-left: 27px;
}
.feature-list li:last-child{padding-bottom: 0;}
.feature-list li::before {
	position: absolute;
	content: "";
	border: 1px solid #0d47a1;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	left: 0;
	top: 3px;
}
.feature-list li::after {
	position: absolute;
	content: "";
	background: #0d47a1;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	left: 3px;
	top: 6px;
}

/* 20. Team */
.team-area{}
.team-wrapper{}
.team-img{position:relative;}
.team-img::before {
	background: #252525;
	content: "";
	height: 0;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}
.team-wrapper:hover .team-img::before {
	height: 100%;
}
.team-img img{width:100%;}
.team-text {
	left: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity:0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	opacity: 0;
}
.team-wrapper:hover .team-text {
	opacity: 1;
	visibility: visible;
	bottom: 40px;
}
.team-text h4 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 4px;
	color: #fff;
}
.team-text span {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}
.team-icon {
	margin-top: 16px;
}
.team-icon a {
	color: #0d47a1;
	font-size: 13px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	display: inline-block;
	background: #f0f0f0;
	text-align: center;
	border-radius: 50%;
	margin: 0 3px;
	transition: .3s;
}
.team-icon a:hover {
	color: #fff;
	background: #0d47a1;
}
.section-2-title {
	margin-bottom: 34px;
}
.section-1-title h1 {
	font-size: 55px;
	line-height: 1;
	text-transform: capitalize;
	margin-bottom: 13px;
}
.section-1-title p {
	margin-bottom: 0;
	line-height: 30px;
	padding: 0 10px;
}
.section-1-title p {
	margin-bottom: 0;
	line-height: 30px;
	padding: 0 10px;
}
.section-2-title p {
	padding-left: 0;
	padding-right: 39px;
}

/* 21. testimonial-area */
.testimonial-wrapper {
	background: #fff none repeat scroll 0 0;
	padding: 38px 40px 108px;
	position: relative;
}
.testimonial-wrapper::before {
	color: #f5f3fc;
	content: "\f10e";
	font-family: "Font Awesome 5 Pro";
	font-size: 300px;
	font-weight: 700;
    margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	line-height: 1;
	left: 0;
	top: 38px;
}
.testimonial-img {
	margin-bottom: 28px;
	position: relative;
	z-index: 999;
	display: inline-block;
}
.testimonial-img::after {
	position: absolute;
	content: "\f10e";
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	background: #ffbf2d;
	height: 40px;
	width: 40px;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	left: 0;
}
.testimonial-text {
  z-index: 999;
  position: relative;
}
.testimonial-text p {
	font-size: 16px;
	margin-bottom: 0;
}
.testimonial-text h4 {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 17px;
}
.testimonial-active.owl-carousel .owl-item img {
  display: inline;
  width: inherit;
}
.testimonial-active .owl-nav div {
	color: #b620b4;
	font-size: 12px;
	text-align: center;
	transition: all 0.3s ease 0s;
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	background: #f5f5ff;
	border-radius: 50%;
}
.testimonial-active .owl-nav {
	position: absolute;
	bottom: 67px;
	left: 0;
	right: 0;
	text-align: center;
}
.testimonial-active .owl-nav div:hover{color:#fff;background:#b620b4;}

/* testimonial-2 */
.inner-testimonial {
	padding: 46px 39px 0 52px;
}
.testimonial-1-img {
	position: relative;
	margin-left: 60px;
	margin-right: 20px;
}
.testimonial-1-img::after {
	position: absolute;
	content: "\f10e";
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	background: #0d47a1;
	height: 120px;
	width: 120px;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	font-size: 35px;
	line-height: 104px;
	text-align: center;
	right: 49px;
	bottom: 0;
	border: 10px solid #fff;
	box-shadow: 0px 67px 133px 0px rgba(190, 190, 190, 0.77);
}
.testimonial-1-img img {
	width: 100%;
	box-shadow: 0px 67px 133px 0px rgba(190, 190, 190, 0.77);
	border-radius: 50%;
}
.testimonial-content{}
.testimonial-content p {
	font-size: 18px;
	line-height: 35px;
	margin-bottom: 0;
}
.testimonial-content p i {
	color: #0d47a1;
	font-size: 24px;
}
.client-name {
	overflow: hidden;
	margin-top: 28px;
}
.client-img {
	float: left;
	margin-right: 20px;
}
.client-text {
	overflow: hidden;
	margin-top: 7px;
}
.client-text h4 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0;
	text-transform: capitalize;
}
.client-text span {
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 400;
}
.client-active.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}

/* 22. map */
.contact-map {
	height: 630px;
	width: 100%;
}

/* 23. contact-area */
.contact-address-text h3 {
	color: #0d47a1;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 24px;
	text-transform: capitalize;
	margin-bottom: 12px;
}
.contact-address-text p {
	line-height: 26px;
	margin-bottom: 0;
}
.contact-list-address{}
.contact-list-address li {
	padding-bottom: 40px;
}
.contact-list-address li:last-child{padding-bottom: 0;}
#contact-form input {
	height: 65px;
	width: 100%;
	border: 1px solid #e8e8ff;
	margin-bottom: 30px;
	padding: 0 25px;
	transition: .3s;
	background: none;
	text-transform: capitalize;
	font-size: 14px;
}
#contact-form input::-moz-placeholder {
  color: #6a6a6a;
  font-size: 14px;
}
#contact-form input::placeholder {
  color: #6a6a6a;
  font-size: 14px;
}
#contact-form textarea {
	width: 100%;
	border: 1px solid #e8e8ff;
	padding: 25px;
	height: 180px;
	margin-bottom: 30px;
	transition: .3s;
	background: none;
	text-transform: capitalize;
	font-size: 14px;
}
#contact-form textarea::-moz-placeholder {
  color: #6a6a6a;
  font-size: 14px;
}
#contact-form textarea::placeholder {
  color: #6a6a6a;
  font-size: 14px;
}
#contact-form .btn {
	cursor: pointer;
	border-radius: 0;
	transition: .3s;
	padding: 22px 97px;
	background: #0d47a1;
}
#contact-form .btn:hover {
	background:#252525;
}

/* 24. blog-details */
.blockquote {
	margin: 50px 0 50px 0;
	padding: 30px 100px 35px 120px;
	border: 10px solid #f5f5ff;
	position: relative;
}
.blockquote::before {
	color: #0d47a1;
	content: "\f10d";
	font-family: "Font Awesome 5 Pro";
	font-size: 45px;
	font-weight: 700;
	margin: auto;
	position: absolute;
	text-align: center;
	line-height: 1;
	left: 47px;
	top: 70px;
}
.blockquote p {
	line-height: 30px;
	margin-bottom: 0;
}
.blockquote h5 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 15px;
}
.blog-details-text{}
.blog-details-text p{}
.blog-details-link{}
.blog-details-link li {
	font-size: 14px;
	color: #6a6a6a;
	font-weight: 400;
	padding-bottom: 11px;
}
.blog-details-link li:last-child{padding-bottom: 0;}
.blog-details-link li i {
	margin-right: 6px;
}
.blog-details-img{}
.blog-details-img img{width:100%;}
.user-info {
	display: block;
	margin-bottom: 50px;
	overflow: hidden;
	padding-top: 47px;
}
.user-text {
	display: inline-block;
	float: left;
	margin-top: 10px;
}
.user-share {
    display: inline-block;
    float: right;
}
.user-share > span {
  color: #595959;
  display: inline-block;
  float: left;
  font-size: 15px;
  margin-right: 21px;
}
.user-share > ul {
    display: inline-block;
}
.user-share > ul > li {
	display: inline-block;
	float: left;
	margin-left: 8px;
}
.user-share > ul > li:first-child {
    margin-left: 0;
}
.user-share a {
	height: 50px;
	width: 50px;
	background: #5454ff;
	color: #fff;
	text-align: center;
	line-height: 50px;
	float: left;
	font-size: 14px;
}
.user-share a.twitter {
	background: #1da1f2;
}
.user-share a.dribbble {
	background: #df3e7b;
}
.user-text a {
	color: #6a6a6a;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	margin-right: 7px;
	padding: 13px 31px;
	background: #f5f5ff;
	font-family: 'Andika New Basic', serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
}
.user-text a:hover{background:#0d47a1;color:#fff;}
.user-text a:last-child{margin-right: 0;}
.blog-details-content p {
	margin-bottom: 0;
}
.author {
	background: #f6f6f6;
	padding: 57px 97px 58px 80px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 70px;
}
.author-img {
	float: left;
	margin-right: 34px;
	margin-top: 10px;
}
.author-img img{}
.author-text {
	overflow: hidden;
}
.author-text > h4 {
	font-weight: 700;
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 11px;
}
.author-text > p {
	margin-bottom: 0;
	font-size: 16px;
}
.author-icon {
	margin-top: 18px;
}
.author-icon a {
	height: 40px;
	width: 40px;
	background: #5454ff;
	color: #fff;
	text-align: center;
	line-height: 40px;
	float: left;
	font-size: 14px;
	margin-right: 8px;
	border-radius: 50%;
}
.author-icon a.twitter {
	background: #1da1f2;
}
.author-icon a.dribbble {
	background: #df3e7b;
}
.author-icon a:last-child{margin-right: 0}
.post-comments {
	margin-bottom: 42px;
	padding-bottom: 46px;
}
.blog-coment-title h2 {
	font-size: 26px;
	margin-bottom: 0;
	color:#0d47a1;
}
.comments-avatar {
	float: left;
}
.latest-comments .comments-avatar img {
	width: 100px;
	margin-right: 20px;
}
.latest-comments li:first-child .comments-box {
	border-top: 0;
	padding-top: 0;
}
.latest-comments li:last-child .comments-box {
	border-bottom: 0;
	padding-bottom: 0;
}
.latest-comments li.children {
	margin-left: 100px;
}
.comments-box {
	border-top: 1px solid #eaedff;
	padding: 30px 0;
}
.comments-box:last-child{}
.comments-text {
	overflow: hidden;
	padding-top: 4px;
}
.comments-text p {
	margin-bottom: 0;
	margin-top: 8px;
}
.avatar-name h5 {
	font-size: 18px;
	margin-bottom: 7px;
}
.avatar-name span {
	color: #0d47a1;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.avatar-name {
	margin-bottom: 3px;
	overflow: hidden;
	position: relative;
}
.reply {
	color: #6f7172;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	transition: .3s;
	line-height: 1;
	float: right;
	margin-top: 4px;
	position: absolute;
	right: 0;
	top: 0;
}
.reply:hover {
	color: #0d47a1;
}
.reply i {
	margin-right: 5px;
}
.post-comments-title {
	margin-bottom: 39px;
}
.post-comments-title h2 {
	font-size: 26px;
	font-weight: 700;
	color: #0d47a1;
	margin-bottom: 0;
}
.conatct-post-form {}
.conatct-post-form input {
	border: none;
	height: 60px;
	margin-bottom: 20px;
	padding: 0 30px;
	width: 100%;
	font-size: 14px;
	color: #6a6a6a;
	border: 1px solid #e9e9e9;
}
.conatct-post-form textarea {
	border: none;
	height: 150px;
	margin-bottom: 20px;
	padding: 30px;
	width: 100%;
	color: #6a6a6a;
	font-size: 14px;
	border: 1px solid #e9e9e9;
}
#contacts-form input::-moz-placeholder {
	color: #6a6a6a;
	font-size: 14px;
}
#contacts-form input::placeholder {
	color: #6a6a6a;
	font-size: 14px;
}
#contacts-form textarea::-moz-placeholder {
	color: #6a6a6a;
	font-size: 14px;
}
#contacts-form textarea::placeholder {
	color: #6a6a6a;
	font-size: 14px;
}
.contact-icon::after {
	position: absolute;
	content: "";
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	right: 30px;
	color: #0d47a1;
	top: 18px;
}
.contacts-message::after {
	content: "\f303";
}

.contacts-name::after {
	content: "\f007";
}

.contacts-email::after {
	content: "\f0e0";
}

.contacts-website::after {
	content: "\f0ac";
}
.video2-play {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.video2-play a {
	height: 100px;
	width: 100px;
	background: #0d47a1;
	display: inline-block;
	border-radius: 50%;
	line-height: 100px;
	font-size: 14px;
	color: #fff;
	transition: .3s;
}
.video2-play a:hover{background: #fff;color:#0d47a1;}
/* search modal */
#search-modal {
	background-color: rgba(23,26,33,.95);
}
#search-modal .modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border: none;
	outline: 0;
}
#search-modal .modal-dialog .modal-content {
	background: 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}
#search-modal .modal-dialog .modal-content form {
	width: 555px;
	position: relative;
}
#search-modal .modal-dialog .modal-content form input {
	width: 100%;
	font-size: 36px;
	border: none;
	border-bottom: 3px solid rgba(255,255,255,.1);
	background: 0 0;
	color: #fff;
	padding-bottom: 12px;
	padding-right: 40px;
}
#search-modal .modal-dialog .modal-content form input::-moz-placeholder {
	font-size: 35px;
}
#search-modal .modal-dialog .modal-content form input::placeholder {
	font-size: 35px;
}
#search-modal .modal-dialog .modal-content form button {
	position: absolute;
	right: 0;
	margin-bottom: 3px;
	font-size: 30px;
	color: rgba(255,255,255,.5);
	background: 0 0;
	border: none;
	cursor: pointer;
	top: 11px;
}