{% extends "base.html" %}

{% load disqus_tags %}
{% disqus_dev %}
{% load thumbnail %}
{% load tagging_tags %}
{% load embed_video_tags %}
{% load helpertags %}

{% block extra_css %}
{% endblock %}

{% block share_fb %}
<meta property="og:title" content="{{object.titulo}}" />
<meta property="og:type" content="article" />
{% if object.imagen_portada %}
	<meta property="og:image" content="https://radiocamoapa.com/media/{{object.imagen_portada}}">
{% elif object.url %}
 	{% video object.url as video %}
		<meta property="og:image" content="{{video.thumbnail}}">
	{% endvideo %}
{% endif %}

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.contenido|striptags}}" />
<meta property="og:url" content="https://radiocamoapa.com{{request.path}}" />
<meta property="og:locale" content="es_ES" />

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{object.titulo}}">
<meta name="twitter:description" content="{{object.contenido|striptags}}">
{% if object.imagen_portada %}
	<meta name="twitter:image" content="https://radiocamoapa.com/media/{{object.imagen_portada}}">
{% elif object.url %}
 	{% video object.url as video %}
		<meta property="twitter:image" content="{{video.thumbnail}}">
	{% endvideo %}
{% endif %}
<meta name="twitter:domain" content="https://radiocamoapa.com">
{% endblock share_fb %}


{% block content %}
    <div class="enterteinment-area pb-70">
        <div class="container-box">
            <div class="row">
                <div class="col-xl-9 col-lg-9 mb-30">
                    <div class="blog-details-wrapper">
                        <div class="post-padding  post2-padding post-3-padding blog-details-paddiing">
                            <div class="inner-post-wrapper">
                                <div class="post-wrapper">
                                    <div class="post-wr-meta mt-0">
                                        <span><a>{{object.fecha|date:"l d F Y"}} Hora:{{ object.fecha|time:"P" }}</a></span><br>
                                        <span><a>Por {{object.user.get_full_name}}</a></span>
                                    </div>
                                    <h3 class="pos-wr-title"><a href="">{{object.titulo}}</a></h3>
                                    <div class="post-wr-img mb-50">
                                        {% if object.imagen_portada %}
                                        {% thumbnail object.imagen_portada "670x490" crop="center" as img %}
                                        <img src="/media/{{img}}" alt="{{object.titulo}}" width="100%">
                                        {% endthumbnail %}
                                        {% elif object.url %}
                                        {% video object.url as video %}
                                        {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                        <img src="/media/{{img}}" alt="{{object.titulo}}" width="100%">
                                        {% endthumbnail %}
                                        {% endvideo %}
                                        {% elif object.imagen_alterna %}
                                        {% thumbnail object.imagen_alterna "670x490" crop="center" as img %}
                                        <img src="/media/{{img}}" alt="{{object.titulo}}" width="100%">
                                        {% endthumbnail %}
                                        {% else %}
                                        <img src="https://via.placeholder.com/670x490" alt="{{object.titulo}}" width="100%">
                                        {% endif %}
                                        {% if object.credito_foto_portada %}
                                        <p class="pt-10 pb-10 text-center foto-detalle">
                                            {{object.credito_foto_portada}}
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="post-content">
                                        {{object.contenido|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-text">
                                {% tags_for_object object as tag_cloud %}
                                {% for obj in  tag_cloud %}
                                <a href="#">{{obj}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 mb-30">
                    {% include "sidebar.html" %}
                </div>
                <div class="col-lg-12">
                    {% disqus_show_comments %}
                </div>
            </div>
            <div class="row">
                <div class="tready-news-area pb-60">
                    <div class="container">
                        <div class="pt-60 pb-25">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="row mb-40">
                                        <div class="col-xl-12">
                                            <div class="section-title">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <h2>Noticias relacionadas</h2>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="news-relacionada owl-carousel">
                                            {% for obj in notas_relacionadas %}
                                            <div class="col">
                                                <div class="postbox mb-30">
                                                    <div class="postbox-thumb">
                                                        {% if obj.imagen_portada %}
                                                        {% thumbnail obj.imagen_portada "670x490" crop="center" as img %}
                                                        <a href="{% url 'noticia-detalle' obj.subcategoria.slug obj.slug %}"><img src="/media/{{img}}" alt="{{obj.titulo}}" width="100%"></a>
                                                        {% endthumbnail %}
                                                        {% elif obj.url %}
                                                        {% video obj.url as video %}
                                                        {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                                        <a href="{% url 'noticia-detalle' obj.subcategoria.slug obj.slug %}"><img src="/media/{{img}}" alt="{{obj.titulo}}" width="100%"></a>
                                                        {% endthumbnail %}
                                                        {% endvideo %}
                                                        {% elif obj.imagen_alterna %}
                                                        {% thumbnail obj.imagen_alterna "670x490" crop="center" as img %}
                                                        <a href="{% url 'noticia-detalle' obj.subcategoria.slug obj.slug %}"><img src="/media/{{img}}" alt="{{obj.titulo}}" width="100%"></a>
                                                        {% endthumbnail %}
                                                        {% else %}
                                                        <img src="via.placeholder.com/670x490" alt="{{obj.titulo}}">
                                                        <a href="{% url 'noticia-detalle' obj.subcategoria.slug obj.slug %}"><img src="https://via.placeholder.com/670x490" alt="{{obj.titulo}}" width="100%"></a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="post-fea-cat">
                                                        <a href="#">{{obj.categoria}} </a>
                                                    </div>
                                                    <div class="postbox-text post-text-last">
                                                        <div class="post-wr-cat">
                                                            <a href="#">{{obj.subcategoria}}</a>
                                                        </div>
                                                        <h5 class="f-18"><a class="text-limit-3" href="{% url 'noticia-detalle' obj.subcategoria.slug obj.slug %}">{{obj.titulo}}</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="si-sticky slideleft">
        <ul class="social-share">
            <li class="main_icon">
                <i class="fas fa-share-square"></i>
            </li>
            <li>
                <a href="https://twitter.com/share?url=https://radiocamoapa.com{{request.path}}&amp;text={{object.titulo}}" target="_blank" class="tw">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer.php?u=https://radiocamoapa.com{{request.path}}" target="_blank" class="fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/?text=https://radiocamoapa.com{{request.path}}" target="_blank" class="wt" >
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="mailto:?subject={{obj.titulo}}&amp;body=Visitanos en https://radiocamoapa.com{{request.path}}"  class="gp">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block extra_js %}
<script>
    $(".post-content blockquote").addClass("blockquote");
    $(".post-content ul").addClass("blog-details-link");
    $(".post-content ul li").prepend( "<i class='far fa-check'></i>" ); 
</script>
<script>
    var tamano = $('.tready-news-area').offset().top;
    var tamano2 = $('.enterteinment-area').offset().top;
    //alert(tamano);
    $(document).scroll(function() {
        if($('.si-sticky').offset().top >= tamano || $('.si-sticky').offset().top <= tamano2 ){
            $('.si-sticky').addClass('slideleft');
        }else{

            $('.si-sticky').removeClass('slideleft');
        }
    });

    
   
    
</script>
{% endblock extra_js %}