{% extends "base.html" %}

{% load thumbnail %}
{% load tagging_tags %}

{% block share_fb %}
<meta property="og:title" content="{{object.titulo}}" />
<meta property="og:type" content="article" />
{% for obj in object.galeria.all|slice:":1" %}
  <meta property="og:image" content="https://radiocamoapa.com/media/{{obj}}">
{% endfor %}
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.resumen|striptags}}" />
<meta property="og:url" content="https://radiocamoapa.com{{request.path}}" />
<meta property="og:locale" content="es_ES" />
{% endblock share_fb %}

{% block content %}
<div class="galeria-detalle pb-70">
    <div class="container-box">
        <div class="row">
            <div class="col-xl-9 col-lg-9 mb-30">
                <div class="blog-details-wrapper">
                    <div class="post-padding  post2-padding post-3-padding blog-details-paddiing">
                        <div class="inner-post-wrapper">
                            <div class="post-wrapper">
                                <div class="post-wr-meta mt-0">
                                    <span><a>{{object.fecha|date:"l d F Y"}}</a></span><br>
                                </div>
                                <h3 class="pos-wr-title"><a href="">{{object.titulo}}</a></h3>
                                <div class="post-wr-img mb-50">
                                    {% if object.portada %}
                                        {% thumbnail object.portada "670x490" crop="center" as img %}
                                            <img src="/media/{{img}}" alt="{{object.titulo}}" width="100%">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="https://via.placeholder.com/670x490" alt="{{noticia.titulo}}" width="100%">
                                    {% endif %}
                                </div>
                                <div class="post-content mb-30">
                                    {{object.resumen|safe}}
                                </div>
                                <div id="portfolio-grid" class="row row-portfolio">
                                    <div class="grid-sizer"></div>
                                    {% for obj in object.galeria.all %}
                                    <div class="col-lg-4 col-md-4 col-md-6 grid-item cat2 cat4 cat1 mb-30">
                                        {% if obj.foto %}
                                        <a class="portfolio-wrapper popup-image" href="/media/{{obj.foto}}">
                                            <div class="portfolio-image">                                                
                                                {% thumbnail obj.foto "670x490" crop="center" as img %}
                                                <img src="/media/{{img}}" width="100%" alt="{{obj.titulo}}">
                                                {% endthumbnail %}                                                
                                            </div>
                                            <div class="portfolio-caption">
                                                <h5>{{obj.titulo}}</h5>
                                            </div>
                                        </a>
                                        {% elif obj.foto_url %}
                                        <a class="portfolio-wrapper popup-image" href="{{obj.foto_url}}">
                                            <div class="portfolio-image">
                                                {% thumbnail obj.foto_url "670x490" crop="center" as img %}
                                                <img src="/media/{{img}}" width="100%" alt="{{obj.titulo}}">
                                                {% endthumbnail %}
                                            </div>
                                            <div class="portfolio-caption">
                                                <h5>{{obj.titulo}}</h5>
                                            </div>
                                        </a>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-text">
                            {% tags_for_object object as tag_cloud %}
                            {% for obj in  tag_cloud %}
                            <a href="#">{{obj}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 mb-30">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
</div>
<div class="si-sticky slideleft">
    <ul class="social-share">
        <li class="main_icon">
            <i class="fas fa-share-square"></i>
        </li>
        <li>
            <a href="https://twitter.com/share?url=https://radiocamoapa.com{{request.path}}&amp;text={{object.titulo}}" target="_blank" class="tw">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer.php?u=https://radiocamoapa.com{{request.path}}" target="_blank" class="fb">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://wa.me/?text=https://radiocamoapa.com{{request.path}}" target="_blank" class="wt" >
                <i class="fab fa-whatsapp"></i>
            </a>
        </li>
        <li>
            <a href="mailto:?subject={{obj.titulo}}&amp;body=Visitanos en https://radiocamoapa.com{{request.path}}"  class="gp">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(".post-content blockquote").addClass("blockquote");
    $(".post-content ul").addClass("blog-details-link");
    $(".post-content ul li").prepend( "<i class='far fa-check'></i>" ); 
</script>
<script>
    var tamano2 = $('.galeria-detalle').offset().top;
    //alert(tamano);
    $(document).scroll(function() {
        if( $('.si-sticky').offset().top <= tamano2 ){
            $('.si-sticky').addClass('slideleft');
        }else{

            $('.si-sticky').removeClass('slideleft');
        }
    });

    
   
    
</script>
{% endblock extra_js %}